
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
form{
  width: 100%;
  border:1px solid black;
  padding:20px 15px;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0;
  background-color:antiquewhite;

}
form h3{
  text-align: center;
  font-weight:600;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.form-group{
  margin-bottom: 10px;


}
.form-group label{
  display:block;
  margin-bottom: 6px;
}
.form-group input{
  padding: 10px;
  width:100%;
  border-radius: 8px;
  outline: 0;
  border:1px solid black;
}
.login_register_button{
  border:0;
  background-color: green;
  padding:10px 0;
  width: 100%;
  border-radius:8px;
  margin-top: 20px;
  color: white;
  font-size:18px;

}
.login_register_button:hover{
  background-color:aqua;
}
 section{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
 }
form p{
  margin-top: 10px;
  text-align:end;
 }

.form_heading{
  color:blue;
}
 footer{
  background-color: rgb(118, 118, 237);
  padding:10px 20px;
  text-align:center;
}